<link rel="stylesheet" href="/css/admin.css">
<div class="container-fluid mt-2">
    <div class="reviewContainer">
        <div class="text-center">
            Assign Task To Employee
        </div>
        <div class="reviewer">
            <form action="/admin/setReviewes" method="POST" class="mt-1 card-body">
                <div>
                    
                    <select class="form-select form-select" aria-label="Default select example" name="sender">
                        <option selected>Select Reviewer</option>
                        <% for(let i = 0; i<employe.length ; i++){ %>
                            <option value= <%= employe[i].id %> > <%= employe[i].name %> </option>
                        <%}%>    
                    </select>
                </div>
                <div class="reviewee">
                    
                    <select class="form-select form-select" aria-label="Default select example" name="reciver">
                        <option selected>Select Employee</option>
                        <% for(let i = 0; i<employe.length ; i++){ %>
                            <option value= <%= employe[i].id %> > <%= employe[i].name %> </option> 
                        <%}%>
                    </select>
                </div>
                <div class="submitButtons">
                    <button type="submit">Assign Task</button>
                </div>
            </form>
        </div>
    </div>

    <div class="reviewContainer">
        <div
            class="text-center">Make Admin To Employee
        </div>
        <div class="reviewer">
            <form method="POST" action="/admin/newAdmin" class="mt-3">
                <select class="form-select form-select" aria-label="Default select example" name="selectedUser">
                    <option selected>Select Employee to make Admin</option>
                    <% for(let i = 0; i<employe.length ; i++){ %>
                        <option value= <%= employe[i]._id %> > <%= employe[i].name %> </option>
                    <%}%>
                </select>
                <div class="submitButtons">
                    <button type="submit">Make Admin</button>
                </div>
            </form>
        </div>
    </div>
</div>